{% include "header.html" %}
<body style="background-color: #f8f9fa;">
    <div class="custom-container vertically-center">
        <div class="custom-bg p-4 rounded shadow-sm d-flex align-items-center">
            <!-- Left Column for Image -->
            <div class="custom-image-col d-none d-md-block">
                <img src="../static/images/contact_img.png" alt="Registration Image" width="300px" class="custom-image img-fluid rounded">
            </div>

<!-- Right Column for Form -->
<div class="custom-form-col ms-5 mx-2">
    <h2 class="h2-form custom-title mb-4">Contact us</h2>
    <form
        action="{{ url_for('contact_form') }}"
        method="post"
        id="contactUs"
        name="contactUs"
        class="row g-3"
    >
        <div class="col-12">

            <div class="form-floating">
                <input 
                    type="text" 
                    name="name" 
                    id="name" 
                    class="form-control" 
                    placeholder="Name"
                    required
                >
                <label for="name">Name</label>
            </div>
        </div>

        <div class="col-12">
            <div class="form-floating">
                <input 
                    type="email" 
                    name="email" 
                    id="email" 
                    class="form-control" 
                    placeholder="Email"
                    required
                >
                <label for="email">Email</label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating">
                <textarea 
                    name="message" 
                    id="message" 
                    class="form-control" 
                    placeholder="Message"
                    style="height: 100px;"
                    required
                ></textarea>
                <label for="message">Message</label>
            </div>
        </div>
        <div class="col-12">
            <button class="btn-contact mb-3" type="submit">Send Email</button>
        </div>
    </form>
</div>
</div>
</div>
</body>
        </div>
    </div>
</body>








{% include "footer.html" %}