{% include "header.html" %}

<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

<body style="background-color: #f8f9fa;">
    <div class="custom-container vertically-center">
        <div class="custom-bg p-5 rounded shadow-sm d-flex align-items-center">
            <!-- Left Column for Image -->
            <div class="custom-image-col d-none d-md-block me-5">
                <img src="../static/images/contact_img.png" alt="Registration Image" width="300px" class="custom-image img-fluid rounded">
            </div>

<!-- Right Column for Form -->
<div class="custom-form-col mx-2 ms-5">
    <h2 class="h2-form custom-title mb-4" style="font-family: 'Montserrat', sans-serif; font-size: 2rem; font-weight: 700;">Contact us</h2>
    <form
        action="{{ url_for('contact_form') }}"
        method="post"
        id="contactUs"
        name="contactUs"
        class="row g-3"
    >
        <div class="col-12">

            <div class="form-floating">
                <input 
                    type="text" 
                    name="name" 
                    id="name" 
                    class="form-control" 
                    placeholder="Name"
                    required
                    autocomplete="off"
                >
                <label for="name">Name</label>
            </div>
        </div>

        <div class="col-12">
            <div class="form-floating">
                <input 
                    type="email" 
                    name="email" 
                    id="email" 
                    class="form-control" 
                    placeholder="Email"
                    required
                    autocomplete="off"
                >
                <label for="email">Email</label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating">
                <textarea 
                    name="message" 
                    id="message" 
                    class="form-control" 
                    placeholder="Message"
                    style="height: 100px;"
                    required
                ></textarea>
                <label for="message">Message</label>
            </div>
        </div>
        <div class="col-12">
            <button class="btn col-12 btn-contact mb-3 py-2" type="submit">Send Email</button>
        </div>
    </form>
</div>
</div>
</div>
</body>
        </div>
    </div>
</body>








{% include "footer.html" %}