{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<div class="container col-10 my-5">
    <div class="bg-light p-4 rounded shadow-sm">
        <h2 class="mb-4">Edit Session</h2>
        {% if view_game %}
        <form action="{{ url_for('edit_session', session=session.id, view_game=True) }}" method="post">
        {% else %}
        <form action="{{ url_for('edit_session', session=session.id) }}" method="post">
        {% endif %}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

            <!-- Dropdown for selecting or changing the game name -->
            <div class="row mb-4 align-items-center">
                <div class="col-md-2">
                    <label for="game_name" class="form-label"><strong>Game Name</strong></label>
                    <select class="form-select placeholder-style" name="selected_game" aria-label="Default select" required>
                        <option disabled value="">Select Game</option>
                        {% for game in cash_games %}
                        <option value="{{ game }}" {% if game == poker_game.cash_name %}selected{% endif %}>
                            {{ game }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row border-bottom pb-2 mb-4">
                <div class="col-md-4">
                    <strong>Player Name</strong>
                </div>
                <div class="col-md-4 text-center">
                    <strong>Buy-in Amount</strong>
                </div>
                <div class="col-md-4 text-end">
                    <strong>Cash-out Amount</strong>
                </div>
            </div>
            {% for i in range(session.game_data | length) %}
            <div class="mb-4">
                <div class="row g-3 align-items-center">
                    <div class="col-md-4">
                        
                            <input type="text" id="player_{{ i }}" name="player_{{ i }}" class="form-control" list="playerOptions" value="{{ session.game_data[i]['name'] }}" placeholder="Name" required autocomplete="off">
                            <datalist id="playerOptions">
                                {% for player in poker_game.player_list %}
                                    <option value="{{ player }}">
                                {% endfor %}
                            </datalist>

                    </div>
                    <div class="col-md-4">
                        <input type="number" id="buyin_{{ i }}" name="buyin_{{ i }}" class="form-control" placeholder="Buy-in" value="{{ '{:.0f}'.format(session.game_data[i]['buyin']) }}" required >
                    </div>
                    <div class="col-md-4">
                        <input type="number" id="cashout_{{ i }}" name="cashout_{{ i }}" class="form-control" placeholder="Cash-out" value="{{ '{:.0f}'.format(session.game_data[i]['cashout']) }}" required >
                    </div>
                </div>
            </div>
        {% endfor %}
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    {{message}}
                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
            <div class="d-flex justify-content-between">
                <button class="btn btn-primary" type="submit">Save Changes</button>
                {% if view_game %}
                <a href="{{url_for('view_game', game_id=poker_game.id)}}" class="btn btn-secondary">Cancel</a>
                {% else %}
                <a href="{{url_for('dashboard')}}" class="btn btn-secondary">Cancel</a>
                {% endif %}
            </div>
        </form>
    </div>
</div>

{% include "footer.html" %}