<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split My Winnings</title>
    {% block styles %}
    {{ bootstrap.load_css() }}
    <link
      href="../static/css/style.css"
      rel="stylesheet"
    />
    {% endblock %}
</head>
  <body class="d-flex flex-column min-vh-100">
    <main class="flex-fill">

    <header class="p-3 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>
    
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="{{url_for('home')}}" class="nav-link px-2 text-secondary">Home</a></li>
              {% if current_user.is_authenticated %}
                <li><a href="{{url_for('player_count')}}" class="nav-link px-2 text-white">Settle Game</a></li>
                <li><a href="{{url_for('live_count')}}" class="nav-link px-2 text-white">Track Live</a></li>
              {% else %}
                <li><a href="{{url_for('free_player_count')}}" class="nav-link px-2 text-white">Split-Free</a></li>
              {% endif %}
                <li><a href="{{url_for('contact_form')}}" class="nav-link px-2 text-white">Contact</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Support Me</a></li>
            </ul>

            <div class="text-end">
            {% if current_user.is_authenticated %}
              <a href="{{url_for('logout')}}" class="btn btn-outline-light me-2" role="button">Logout</a>
              <a href="{{url_for('dashboard')}}" class="btn btn-warning" role="button">Dashboard</a>
            {% else %}
              <a href="{{url_for('login')}}" class="btn btn-outline-light me-2" role="button">Login</a>
              <a href="{{url_for('register')}}" class="btn btn-warning" role="button">Sign-up</a>
            {% endif %}
            </div>

          </div>
        </div>
      </header>