{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<body style="background-color: #f8f9fa;">
    <div class="custom-container vertically-center">
        <div class="custom-bg p-4 rounded shadow-sm d-flex align-items-center">
            <!-- Left Column for Image -->
            <div class="custom-image-col d-none d-md-block">
                <img src="../static/images/cards4.jpg" alt="Registration Image" width="300px" class="custom-image img-fluid rounded">
            </div>

            <!-- Right Column for Form -->
            <div class="custom-form-col">
                <h2 class="h2-form custom-title mb-2">Login Form</h2>
                <form
                    action="{{ url_for('login') }}"
                    method="post"
                    id="login"
                    name="login"
                    class="row g-3"
                >
                    {{ form.hidden_tag() }}
                    <div class="col-12">
                        <div class="form-floating"> 
                            {{ form.email(class="form-control", id="email") }}
                            {{ form.email.label(for="email") }}
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                            {{ form.password(class="form-control", id="password") }}
                            {{ form.password.label(for="password") }}
                        </div>
                    </div>
                    <div class="col-12">
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="alert alert-danger p-2 mt-0 text-center" role="alert">
                            {% for message in messages %}
                                {{message}}
                            {% endfor %}
                            </div>
                        {% endif %}
                    {% endwith %}
                    </div>
                    <div class="col-12">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
            

        </div>
    </div>
</body>

{% include "footer.html" %}