{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<!-- if player is logged in, change url_for to paid version which gives the option to save data afterwards as well-->


<div class="container col-10 my-5">
    <div class="bg-light p-4 rounded shadow-sm">
        <h2 class="mb-4">Number of Players</h2>
        <form
        action="{{url_for('free_player_count')}}"
        method="post"
        id="playerCount"
        name="totalPlayers">
            <div class="mb-3">
                <label for="number" class="form-label">Enter Details</label>
                <input type="number" id="number" name="number" class="form-control" placeholder="Players" required min="2" max="20">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
</div>




{% include "footer.html" %}