{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

<body style="background-color: #f8f9fa;">
    <div class="custom-container vertically-center">
        <div class="custom-bg p-5 rounded shadow-sm d-flex align-items-center">
            <!-- Left Column for Image -->
            <div class="custom-image-col d-none d-md-block me-4">
                <img src="../static/images/cards4.jpg" alt="Registration Image" width="300px" class="custom-image img-fluid rounded">
            </div>

            <!-- Right Column for Form -->
            <div class="custom-form-col ms-4">
                <h2 class="h2-form custom-title mb-2" style="font-family: 'Montserrat', sans-serif; font-size: 2rem; font-weight: 700;">Registration Form</h2>
                <p class="custom-lead mb-5">Register interest today and be the first to find out when our full version goes live.</p>
                <form
                    action="{{ url_for('register') }}"
                    method="post"
                    id="earlyReg"
                    name="earlyReg"
                    class="row g-3"
                >
                    {{ form.hidden_tag() }}
                    <div class="col-12">
                        <div>
                            {{ form.name(class="form-control", id="name", placeholder="Name") }}
                        </div>
                    </div>
                    <div class="col-12">
                        <div>
                            {{ form.email(class="form-control", id="email", placeholder="Email") }}
                        </div>
                    </div>
                    <div class="col-12">
                        <div>
                            {{ form.password(class="form-control", id="password", placeholder="Password") }}
                        </div>
                    </div>
                    <div class="col-12">
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="alert alert-danger p-2" role="alert">
                                {% for message in messages %}
                                    {{message}}
                                {% endfor %}
                                </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary col-12 mb-3 py-2" type="submit">Register</button>
                    </div>
                </form>
            </div>
            
            
        </div>
    </div>
</body>




{% include "footer.html" %}